doctype html
html(lang="en")
  head
    title NoFeeDigs API
  body
    h1 There are #{total - badCount} good listings out of #{total} total listings.
    for problems, host in sourcesHash
      - var total = problems['Total']
      h2= host
      b Total: #{total}
      div( style='width: ' + total + 'px; background: blue; height: 3px; margin: 10px 0;' )
      for count, problem in problems
        if count > 0 && problem != 'Total'
          b( style='color: rgb(' + Math.round(((count / total) * 255)) + ',0,0)' )= problem
          | :  
          = count
          br